# Zookeper
ZK_HOST=zookeeper
ZK_PORT=2181

# Kafka
KAFKA_BROKER=kafka:9092
KAFKA_PORT=9092

# Kafka UI - Redpanda
KAFKA_UI_PORT=8088

# CrowdQ Postgres Database
CROWDQ_DB_HOST=postgres
CROWDQ_DB_PORT=5432
CROWDQ_DB_NAME=crowdq
CROWDQ_DB_USER=crowdq
CROWDQ_DB_PASSWORD=crowdq

# Postgres Database UI - PgAdmin
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@crowdq.dev
PGADMIN_PASSWORD=admin

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Redis UI - RedisInsight
REDISINSIGHT_PORT=5540

# Prometheus
PROMETHEUS_PORT=9090

# Grafana
GRAFANA_PORT=3000

# SonarQube Postgres Database
SONARQUBE_DB_HOST=sonar-postgres
SONARQUBE_DB_PORT=5432
SONARQUBE_DB_NAME=sonarqube
SONARQUBE_DB_USER=sonar
SONARQUBE_DB_PASSWORD=sonar

# SonarQube
SONARQUBE_HOST=sonarqube
SONARQUBE_PORT=9000

# Keycloak Postgres Database
KEYCLOAK_DB_HOST=keycloak-postgres
KEYCLOAK_DB_PORT=5432
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak

# Auth Service - Keycloak
KEYCLOAK_HOST=keycloak
KEYCLOAK_PORT=59000
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# API Gateway
API_GATEWAY_PORT=8080
